$copyright-background: #EFEFEF;
$copyright-text: #828282;

.copyright {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;
    background: $copyright-background;
  }

  &__link,
  &__text {
    font-size: 1.2rem;
    line-height: 1.4rem;

    color: $copyright-text;
  }
}